@model MvcMovie.Models.Baithuchanh12.Device

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.SupplierID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Device_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
